@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap');

.result-box {
    height: 400px;
    width: 275px;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 30px;
    justify-content: flex-end;
    
}

.summary-box {
    background-color: white;
    border-radius: 30px;
    width: 550px;
    height: 400px;
    box-shadow: 10px 10px 20px rgb(226, 226, 252);
    margin: 0 auto;
    position: absolute;
    display: flex;
}

#summary {
    position: absolute;
    left: 300px;
    color: rgb(33, 33, 74);
}

.container{
    position: relative;
}

#reaction {
    position: absolute;
    height: 40px;
    width: 235px;
    background-color: rgb(255, 215, 215);
    left: 295px;
    top: 75px;
    border-radius: 5px;
}



#memory {
    position: absolute;
    height: 40px;
    width: 235px;
    background-color: rgb(255, 252, 215);
    left: 295px;
    top: 130px;
    border-radius: 5px;
}

#verbal {
    position: absolute;
    height: 40px;
    width: 235px;
    background-color: rgb(215, 255, 238);
    left: 295px;
    top: 185px;
    border-radius: 5px;
}

#visual {
    position: absolute;
    height: 40px;
    width: 235px;
    background-color: rgb(215, 220, 255);
    left: 295px;
    top: 240px;
    border-radius: 5px;
}

button {
    position: absolute;
    border-radius: 50px;
    background-color: rgb(30, 30, 62);
    color: white;
    height: 40px;
    width: 235px;
    left: 295px;
    bottom: 60px;
}

h1 {
    color: lightgrey;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    text-align: center;
    padding-top: 25px;
}

.circle {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 30px;
}

p {
    font-family: 'Urbanist', sans-serif;
}

#number {
    font-family: 'Urbanist', sans-serif;
    font-size: 60px;
    color: white;
    justify-content: center;
    position: relative;
    top: 30px;
    left: 40px;
}

#onehundred {
    color: rgb(169, 169, 169);
    position: relative;
    bottom: 30px;
    left: 50px;
}

#great {
    color: white;
    font-size: 28px;
    
}



#score {
    color: rgb(180, 180, 180);
    font-size: 12px;
    text-align: center;
}